---

HTTP_PORT: 

DB_HOST: 
DB_USERNAME: 
DB_PASSWORD: 
DB_DATABASE: 

SERVER_ROOT: 
SERVER_USER: 
SERVER_GROUP: 

ACCESS_TOKEN: 

SYSLOG_ADDRESS: 

LOG_REQUESTS: true

TRADIER_ACCOUNT:
TRADIER_ACCESS_TOKEN:

ALLY_ACCOUNT: 
ALLY_CONSUMER_KEY: 
ALLY_CONSUMER_SECRET: 
ALLY_ACCESS_TOKEN: 
ALLY_ACCESS_SECRET: 

HEALTH_CHECK_MARKTRADIER_URL:

P_UID: 
P_GID: 
NETWORK: 
DOCKER_RESTART: 
VIRTUAL_HOST: 
LETSENCRYPT_HOST: 
LETSENCRYPT_EMAIL: 
COMPOSE_PROJECT_NAME: 