---

HTTP_PORT: 

DB_HOST: 
DB_USERNAME: 
DB_PASSWORD: 
DB_DATABASE: 

SERVER_ROOT: 
SERVER_USER: 
SERVER_GROUP: 

ACCESS_TOKEN: 

SYSLOG_ADDRESS: 

LOG_REQUESTS: true

P_UID: 
P_GID: 
NETWORK: 
DOCKER_RESTART: 
VIRTUAL_HOST: 
LETSENCRYPT_HOST: 
LETSENCRYPT_EMAIL: 
COMPOSE_PROJECT_NAME: 